body{
  background-color: var(--black);
  font-family: Overpass;
  width: 100%;
  height: 100vh;
}
:root {
  --black: #1B1C1F;
  --white: #f6f7f9;
  --sm: 24px;
}
.App {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: 100vh;
}

